
/* ===== BUTTONS ===== */
.btn {
  text-transform: uppercase;
  box-shadow: none !important;
  padding: 0.3125rem 1rem;
}
.btn.btn-square {
  border-radius: 0px;
}
.btn.btn-pill {
  border-radius: 20px;
}
@media (min-width: 768px) {
  .btn.btn-pill {
    border-radius: 30px;
  }
}
@media (min-width: 768px) {
  .btn {
    padding: 0.56rem 1.5rem;
  }
}

/* Button Circle */
.btn-rounded-circle {
  border-radius: 50%;
}

/* Button Icon */
.btn-icon {
  width: 43px;
  height: 43px;
  padding: 0.312rem 0.625rem;
  color: #ffffff;
  font-size: 1.25rem;
}
.btn-icon:hover {
  color: #ffffff;
}

/* Button Refress */
.btn-refress {
  background: #f0f1f5;
  padding: 0 0.375rem;
  font-size: 1.0625rem;
}

.btn-dark {
  color: #fff;
  background-color: #6f6f6f;
  border-color: #6f6f6f; }
  .btn-dark:hover {
    color: #fff;
    background-color: #323232;
    border-color: #2c2c2c; }
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 97, 97, 0.5); }
  .btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #454545;
    border-color: #454545; }
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
  .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #2c2c2c;
    border-color: #252525; }
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(97, 97, 97, 0.5); }
        box-shadow: 0 0 0 0.2rem rgba(97, 97, 97, 0.5); }
  
  /* Custom CSS for dark gray table headers */
  #myDataTable thead th {
      background-color: #343a40; /* Darker gray background */
      color: #ffffff; /* White text for contrast */
      border-color: #454d55; /* Slightly darker border for separation */
  }